@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@600;700;800&family=Poppins:wght@400;700&display=swap");
@import url("./styles/colors.css");
@import url("./styles/question.css");
* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--background);
  color: white;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: var(--dark-blue);
  color: ghostwhite;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 800;
  text-align: center;
  font-family: "Azeret Mono", monospace;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
}
#root {
  margin-top: 60px;
  padding: 1.2em;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: var(--dark-blue);
}
.footercontainer {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
button {
  border: none;
  background-color: var(--dark-blue);
  padding: 12px;
  color: white;
  border-radius: 5px;
}
.welcome__link {
  color: var(--green);
  font-weight: bold;
  font-size: 1.5rem;
}
.welcome__link:hover {
  color: aquamarine;
}
footer a:link,
footer a:visited,
footer a:active {
  color: ghostwhite;
  text-decoration: none;
}
h1 {
  font-size: 1.5em;
}
.overlay__points {
  background-color: #00000066;
  position: absolute;
  top: 0;
  /* right: 0; */
  /* transform: translate(150px, 50px); */
  padding: 1.67rem 1.33rem;
}
