@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@600;700;800&family=Poppins:wght@400;700&display=swap");

:root {
  --light-blue: #6897d4;
  --dark-blue: #0b203b;
  --green: #5f9ea0;
  --sepia: #ac9891;
  --red: #d47268;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: var(--green);
  color: ghostwhite;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 800;
  text-align: center;
  font-family: "Azeret Mono", monospace;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
}
#root {
  margin-top: 60px;
  padding: 1.2em;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: var(--sepia);
}
.footercontainer {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a:link,
a:visited,
a:active {
  color: ghostwhite;
  text-decoration: none;
}
h1 {
  font-size: 1.5em;
}
